SARVAM_API_KEY=

# MongoDB Atlas
MONGO_URI=
# Redis Cache
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# ChromaDB Cloud (SaaS)
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=FarmGPt

# Jina AI Multilingual Embedding
EMBEDDING_PROVIDER=jina
JINA_API_KEY=
EMBEDDING_MODEL=jina-embeddings-v3
EMBEDDING_DIMENSIONS=
